* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 1.50rem;
}

.title {
    margin: 24px 0 24px 0;
}

.intro-chunk {
    padding: 8px 16px;
}

.width_margin {
    max-width: 512px;
    margin-inline: auto;
}

div.max-width-wrapper {
    padding-inline: 8px;
}

section.max-width-wrapper {
    background-color: hsl(0deg, 0%, 40%);
    box-shadow: 0 -8px hsl(0deg, 0%, 60%);
    padding-block: 48px;
}

.card {
    padding: 8px 16px;
    background-color: white;
}

h2.indented-heading {
    background-color: hsl(45deg, 100%, 50%);
    box-shadow: 0 8px hsl(45deg, 100%, 40%);
    margin: 0 16px 0 -24px;
    padding: 8px 0 8px 24px;
}

strong {
    color: hsl(160deg, 100%, 30%);
}